body{
    font-family: 'Lato', sans-serif;
}

/*header*/
header{
    width: 100%;
    background-color: #334D5C;
    display: flex;
}
.txtheader1{
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtheader2{
    color: white;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*Fin header*/

/*media*/
@media (max-width:640px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .txtheader2{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 78px;
    }
    .Img{
        height: 100px;
        width: 200px;
    }
    .divImg{
        height: 100%;
    }
    .divtxtsect3{
        display: flex;
        width: 50%;
        justify-content: center;
        font-size: 10%;
    }
}

@media (min-width:641px) and (max-width:1007px){
    .txtheader2{
        width: 50%;
    }
    .Img{
        height: 120px;
        width: 150px;
    }
    .divImg{
        height: 130px;
        width: 20%;
    }
}
@media (min-width:1008px){
    .txtheader2{
        width: 40%;
    }
    .img{
        height: 150px;
        width: 200px;
    }
    .divImg{
        height: 300px;
        width: 40%;
    }
    .divtxt3>p{
        font-size: 30px;
    }
}
/*section 1*/
.section1{
    background-color: rgb(220, 53, 69);
    display: block;
}
.img{
    height: 100px;
    width: 120px;
}
.titre{
    display: block;
}
.Avatar{
    width: 200px;
    height: 200px;
}
.divAvatar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.txtTitre{
    display: block;
    text-align: center;
    height: 200px;
    color: white;
}
.txtTitre>h1{
    font-size: 35px;
}
.txtTitre>p{
    font-size: 13px;
}
/*section 2*/
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titreSect2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.divImg{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5%;
}
.img{
    display: flex;
    justify-content: space-evenly;
}
/*section 3*/
.section3{
    display: flex;
    flex-direction: column;
    background-color:rgb(220, 53, 69) ;
    color: white;
}
.titresect3{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divTxtsect3{
    display: flex;
    width: 100%;
    justify-content: center;
}
.divtxt3{
    width: 30%;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    margin-right: 3%;
}
/*section 4*/



/*section 5*/
.section5{
    display: flex;
    background-color: #334D5C;
    color: white;
    justify-content: space-evenly;
}
.ssection5{
    display: block;
    width: 30%;
    text-align: center;
}
.sssection5{
    display:block;
    width: 50%;
    text-align: center;
}
.ssssection5{
    display: block;
    text-align: center;
    width: 30%;
}

/*footer*/
footer{
    display: flex;
    background-color: rgb(26, 37, 47);
    height: 50px;
}
.footer{
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
}